.order-card {
  width: 400px;
  margin: 10px auto 10px auto;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-radius: 5px;
}

@media (max-width: 400px) {
  /* styles for screens less than 400px wide */
  .order-card {
    width: 100%;
  }
}

.order-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.order-card-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-accordion {
  width: 500px;
  margin: 10px 0 10px 0;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-radius: 5px;
}

@media (max-width: 500px) {
  /* styles for screens less than 500px wide */
  .cart-accordion {
    width: 100%;
  }
}

.order-btn {
  margin: 10px 0 10px 0 !important;
  float: right;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px 1px #ccc;
  font-size: 16px;
  cursor: pointer;
}

.order-btn:hover {
  background-color: #333;
  color: white;
}
