.order-card {
    width: 400px;
    margin: 10px auto 10px auto;
}

@media (max-width: 400px) {
  /* styles for screens less than 400px wide */
  .order-card {
    width: 100%;
  }
}

.order-flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-card-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-accordion {
    width: 500px;
    margin: 10px 0 10px 0;
}

@media (max-width: 500px) {
  /* styles for screens less than 500px wide */
  .cart-accordion {
    width: 100%;
  }
}

.order-btn {
    margin: 10px 0 10px 0 !important;
    float: right;
}
