.product-card {
  height: 300px;
  width: 480px;
  margin: 5px;
  padding-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 380px) {
  /* styles for screens less than 380px wide */
  .product-card {
    width: 100%;
  }
}

.right-action-btns{
  position:absolute;
  color: white;
  right:15px
}

.product-card .product-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-card .action-btns {
  margin-top: 20px;
}
